{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "react-hooks/exhaustive-deps": [0],
    "prefer-const": "error",
    "no-var": "error",
    "no-console": "warn",
    "no-debugger": "warn",
    "react/jsx-no-literals": "error"
  }
}
