.light-theme {
  --background-first-color: #ecebeb;
  --background-secondary-color: white;
  --card-hidden: grey;
  --title-color: purple;
  --primary-text-color: black;
}
.dark-theme {
  --background-first-color: #2e2c2c;
  --background-secondary-color: #484141;
  --card-hidden: grey;
  --title-color: #dd77dd;
  --primary-text-color: white;
  --card-hidden: grey;
}
